:root {
  --primary: #fff;
}

.skillSet {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.userWindow {
  background-color: #10110e;
  width: 400px;
  height: 550px;
  border: 2px solid var(--primary);
}

.skillSet__minimizeIcon,
.skillSet__expandIcon {
  width: 40px;
}

.skillSet__closeIcon {
  width: 30px;
}

.skillSet__closeIcon,
.skillSet__expandIcon,
.skillSet__minimizeIcon {
  margin: 0 10px 0 0;
}

.userWindow__avatar {
  width: 200px;
  height: 200px;
  border: 1px solid var(--primary);
  margin: 30px auto;
}

.head {
  width: 55px;
  height: 55px;
  border: 1px solid var(--primary);
  border-radius: 100%;
  margin: 30px auto 0;
}

.body {
  width: 100px;
  height: 70px;
  border: 1px solid var(--primary);
  margin: 0 auto;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.userWindow__text {
  width: 300px;
  color: var(--primary);
  font-size: 1.1rem;
  text-align: center;
  margin: 75px auto 0;
}

.skillSet__title {
  width: 350px;
  display: flex;
  flex-direction: column;
  line-height: 95px;
}

.skillSet__skill {
  color: transparent;
  -webkit-text-stroke: 1px var(--primary);
  font-size: 7rem;
}

.skillSet__set {
  color: var(--primary);
  -webkit-text-stroke: 6px var(--primary);
  font-size: 7rem;
  align-self: flex-end;
}

.skillSet__habilities div {
  display: flex;
  align-items: center;
  color: var(--primary);
  gap: 10px;
  font-size: 1.5rem;
  margin: 30px 0;
}

#firstArrow,
#secondArrow,
#thirdArrow,
#fourthArrow,
#fifthArrow {
  transition: 280ms ease-in-out;
  font-size: 1.3rem;
}

#firstArrow:hover,
#secondArrow:hover,
#thirdArrow:hover,
#fourthArrow:hover,
#fifthArrow:hover {
  transform: rotate(180deg);
}

@media (max-width: 767px) {
  .skillSet {
    flex-direction: column-reverse;
  }

  .skillSet__title {
    width: 220px;
    line-height: 75px;
    margin: 0 auto;
  }

  .skillSet__set {
    font-size: 4rem;
    -webkit-text-stroke: 2px var(--primary);
  }

  .skillSet__skill {
    font-size: 4rem;
  }

  .skillSet__habilities {
    width: 280px;
    margin: 0 auto;
  }

  .userWindow {
    width: 280px;
    height: 480px;
    margin: 0 auto;
  }

  .userWindow__avatar {
    width: 180px;
    height: 180px;
  }

  .userWindow__text {
    width: 250px;
    margin: 20px auto 0;
  }

  .skillSet__minimizeIcon,
  .skillSet__expandIcon {
    width: 20px;
  }

  .skillSet__closeIcon {
    width: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .userWindow__text {
    width: 280px;
  }
}
