.contact {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
}

.contact__title {
  display: flex;
  flex-direction: column;
  line-height: 95px;
  width: 500px;
}

.contact__contact {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 7rem;
}

.contact__me {
  color: #fff;
  -webkit-text-stroke: 6px #fff;
  font-size: 7rem;
  align-self: flex-end;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  width: 400px;
  margin: 30px auto 0;
}

#form label {
  color: #fff;
  font-size: 1.5rem;
}

#form input {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
}

#form textarea {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  height: 100px;
  font-size: 1.2rem;
  padding: 10px;
}

#form button {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  width: 200px;
  margin: 20px auto;
  border-radius: 50px;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

#form button:hover {
  background-color: #fff;
  color: #000;
}

.rocket-img {
  width: 400px;
  margin-top: -300px;
}

/* .contact__description {
  margin-top: 50px;
} */

@media (max-width: 767px) {
  .contact__title {
    width: 280px;
    line-height: 65px;
    margin: 0 auto;
  }

  .contact__contact {
    font-size: 4rem;
  }

  .contact__me {
    font-size: 4rem;
  }

  .contact__description img {
    width: 50%;
  }

  #form {
    width: 250px;
  }

  .rocket-img {
    display: block;
    margin: 30px auto 0;
    width: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contact__title {
    margin: 0 auto;
  }

  .rocket-img {
    display: block;
    margin: 30px auto 0;
  }
}
