:root {
  --primary: #fff;
  --secondary: #d4af37;
}

.navbar {
  width: 90%;
  margin: 50px auto 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.navbar__name {
  color: var(--primary);
}

.navbar__items {
  display: none;
}

.navbar__items__list {
  max-width: 600px;
  width: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

li a {
  color: var(--primary);
  text-decoration: none;
  --clippy: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}

li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  clip-path: var(--clippy);
  transition: 0.3s ease-in-out;
}

li a:hover {
  --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.changeLanguage {
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  display: flex;
}

.navbar__hamburger {
  display: block;
  position: relative;
  z-index: 1;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar__hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--primary);
  border-radius: 6px;
  z-index: 1;
  transition: 0.4s;
}

.navbar__hamburger__x span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  margin-right: 10px;
  position: relative;
  background-color: var(--primary);
  border-radius: 6px;
  z-index: 1;
  transition: 0.4s;
}

.navbar__hamburger__x span:nth-child(1) {
  transform: rotate(45deg);
  margin-bottom: -0.145rem;
}

.navbar__hamburger__x span:nth-child(2) {
  opacity: 0;
}

.navbar__hamburger__x span:nth-child(3) {
  margin-top: -0.635rem;
  transform: rotate(-45deg);
}

#menu {
  display: none;
}

.navbar-responsive__items {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  background: rgb(27, 27, 27);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: inset(0 0 0 100%);
  transition: 250ms ease-in-out;
}

#menu:checked + .navbar-responsive__items {
  clip-path: inset(0 0 0 0);
}

.navbar-responsive__items ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 15px;
}

hr {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .navbar {
    width: 90%;
    margin: 50px auto 10px;
    display: flex;
    justify-content: space-between;
    height: 27px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 0 30px;
  }

  .navbar__hamburger,
  .navbar-responsive {
    display: none;
  }

  .navbar__items {
    display: block;
  }
}
