:root {
  --primary: #fff;
}

@font-face {
  font-family: RobotoBlack;
  src: url(./assets/fonts/Roboto-Black.ttf) format("opentype");
}

@font-face {
  font-family: RobotoLight;
  src: url(./assets/fonts/Roboto-Light.ttf) format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  background-image: url(./assets/galaxy.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto, "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

/* h1 {
  font-family: RobotoBlack;
} */

p {
  font-family: RobotoLight;
}

.header {
  color: var(--primary);
  width: 90%;
  height: 100vh;
  margin: 50px auto 0;
}

.presentation {
  width: 80%;
  margin: 170px auto 0;
}

.presentation__name {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.presentation__big-title {
  line-height: 105px;
}

.presentation__front {
  -webkit-text-stroke: 4px var(--primary);
  color: transparent;
  font-size: 7rem;
  text-transform: uppercase;
  font-family: RobotoBlack;
}

.presentation__end {
  color: var(--primary);
  font-size: 7rem;
  margin-left: 120px;
  text-transform: uppercase;
  font-family: RobotoBlack;
}

.presentation__button {
  max-width: 500px;
}

/* .presentation hr {
  width: 100%;
  margin: 0;
} */

.presentation__button a {
  display: block;
  background: transparent;
  width: 180px;
  border: 3px solid var(--primary);
  border-radius: 50px;
  text-transform: uppercase;
  color: var(--primary);
  font-size: 1.3rem;
  padding: 5px;
  cursor: pointer;
  margin: 30px auto;
  transition: 250ms ease-in-out;
  text-decoration: none;
  text-align: center;
}

.presentation__button a:hover {
  background-color: var(--primary);
  color: #000;
  transition: 250ms ease-in-out;
}

.aboutme-container {
  background-color: #17181c;
  height: 100vh;
  opacity: 0;
  transform: translateY(100px);
  transition: 350ms ease-in-out all;
}

.skillset-container {
  opacity: 0;
  transform: translateY(100px);
  transition: 350ms ease-in-out all;
}

.projects-container {
  background-color: #17181c;
  height: 100vh;
  opacity: 0;
  transform: translateY(100px);
  transition: 350ms ease-in-out all;
}

.contact-container {
  opacity: 0;
  transform: translateY(100px);
  transition: 350ms ease-in-out all;
}

.fadeUp {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 767px) {
  .presentation {
    /* margin: 50px auto; */
    text-align: center;
  }

  .presentation__big-title {
    line-height: normal;
  }

  .presentation__front {
    -webkit-text-stroke: 1px var(--primary);
    font-size: 3rem;
    /* margin-left: -40px; */
  }

  .presentation__end {
    font-size: 3rem;
    margin: 0;
  }

  .aboutme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .presentation {
    margin: 100px auto 0;
  }

  .presentation__front {
    -webkit-text-stroke: 2px var(--primary);
    font-size: 5rem;
  }

  .presentation__end {
    font-size: 5rem;
  }
}
