.aboutme {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.aboutme__description {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.aboutme__title {
  display: flex;
  flex-direction: column;
  line-height: 95px;
}

.aboutme__about {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 7rem;
  margin-left: 90px;
}

.aboutme__me {
  color: #fff;
  -webkit-text-stroke: 6px #fff;
  font-size: 7rem;
  align-self: flex-end;
  margin-right: -90px;
}

.aboutme__text {
  color: #fff;
  text-align: right;
  font-size: 1.3rem;
}

.window {
  height: 600px;
  width: 600px;
}

.aboutme__minimizeIcon,
.aboutme__expandIcon {
  width: 40px;
}

.aboutme__closeIcon {
  width: 30px;
}

.aboutme__minimizeIcon,
.aboutme__expandIcon,
.aboutme__closeIcon {
  margin: 0 10px 0 0;
}

.laptop {
  width: 90%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .window {
    display: none;
  }

  .aboutme__title {
    width: 220px;
    margin: 0 auto;
    line-height: 75px;
    margin-bottom: 30px;
  }

  .aboutme__about {
    font-size: 4rem;
    margin-left: 0;
  }

  .aboutme__me {
    font-size: 4rem;
    margin-right: 0;
    -webkit-text-stroke: 2px #fff;
  }

  .aboutme__text {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .aboutme {
    gap: 20px;
  }

  .aboutme__about {
    margin: 0;
  }

  .aboutme__me {
    margin: 0;
  }

  .window {
    width: 500px;
    height: 500px;
  }
}
