.aboutme {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.aboutme__description {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.aboutme__title {
  display: flex;
  flex-direction: column;
  line-height: 95px;
}

.aboutme__about {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 7rem;
  margin-left: 100px;
}

.aboutme__me {
  color: #fff;
  -webkit-text-stroke: 6px #fff;
  font-size: 7rem;
  align-self: flex-end;
  margin-right: -80px;
}

.aboutme__text {
  color: #fff;
  text-align: right;
  font-size: 1.3rem;
}

.window {
  width: 600px;
  height: 600px;
  border: 2px solid #fff;
  position: relative;
}

.window__header {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 5px 0 0;
}

.minimize,
.squares {
  width: 40px;
}

.close {
  width: 30px;
}

.minimize,
.squares,
.close {
  margin: 0 10px 0 0;
}

.laptop {
  width: 90%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
